body{
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
}

header{
  margin-left: 20px;
}

.encabezado{
  background-color: aliceblue;
  width: 100%;
}

img{
  width: 12%;
  position: absolute;
  right: 20px;
  top: 20px;
}


.contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.encriptado, .desencriptado{
  border: 2px solid black;
  padding: 10px;
  margin: 20px;
  background-color: lightsilver;
}

textarea{
  border: 1px solid lightgray;
}

textarea:hover{
  border: 1px solid red;
}

#encriptar, #desencriptar{
  display: block;
  margin: 30px 0;
  width: 100%;
  height: 4em;
  border-radius: 5px;
  background-color:azure;
  color: olive;
  font-weight: bold;
}

button:hover{
  border: 1px solid red;
  font-size: medium;
  cursor: pointer;
}

#mensaje-encriptado, #mensaje-desencriptado{
  font-size: 20px;
  display: block;
  margin-bottom: 2em;
  width: 50%;
}

#copy1, #copy2{
  background-color: olivedrab;
  border-radius: 3px;
  color: antiquewhite;
}

footer p{
  text-align: center;
  margin-top: 10px;
  color: whitesmoke;
  padding: 30px;
  font-size: small;
}
#pie-pagina{
  background: url(bg.jpg);
  height: 100%;
  width: 100%;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  cursor:pointer;
  font-weight: bolder;
}

@media screen and (max-width: 580px){
  div, textarea {
    width: 85%;
  }
}
